:root {
  --white-color: #fff;
  --black-color: #1d1d1d;
  /* --black-color: #2d2d2d; */
  --primary-color: #00beef;
}

html {
  font-size: 62.5%;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

a, li {
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 5fr 1fr;
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  grid-area: 1 / 1 / 1 / 4;
  height: 130px;
  padding: 0 1rem;
  background-color: var(--black-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  letter-spacing: 1px;
}

.header--logo {
  margin-top: 2.5rem;
  font-size: 3.5rem;
  color: var(--white-color);
  cursor: pointer;
}

.header--menu {
  display: flex;
  justify-content: center;
  width: 300px;
}

.header--menu li a {
  display: flex;
  padding: 20px;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-color);
  white-space: nowrap;
}

.header--menu li a::before {
  content: "<";
  transition: .2s color ease-in-out;
}

.header--menu li a::after {
  content: " />";
  transition: .2s color ease-in-out;
}

.header--menu li a:hover::before {
  color: var(--primary-color);
}

.header--menu li a:hover::after {
  color: var(--primary-color);
}

/* MAIN */

.main {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  width: 70%;
  height: 75%;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 220%;
  height: 220%;
  background: conic-gradient(#2f52ff, #ffa500, #00ff66, #00beef, #ff00ff, #ff0099, #6e0dd0);
  top: -60%;
  left: -60%;
  z-index: -1px;
  animation: spin 2.5s infinite linear;
}

.main::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background-color: var(--black-color);
  z-index: -2px;
}

@keyframes spin {
  100% {
    /* transform: rotate(360deg); */
  }
}

.main--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 1;
  padding: 30px;
}

.main--info h2 {
  font-size: 3.8rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.main--info p {
  font-size: 1.8rem;
  font-weight: 300;
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  color: var(--white-color);
  letter-spacing: .5px;
}

.main--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 1;
}

.main--img img {
  width: 90%;
  object-fit: contain;
}










@media screen and (max-width: 400px) {
  .header--logo  {
    font-size: 1rem;
  }

  .header--menu li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 901px) {
  body {
    background-color: red;
  }
}