:root {
  --white-color: #fff;
  --black-color: #1d1d1d;
  /* --black-color: #2d2d2d; */
  --primary-color: #00beef;
}

html {
  font-size: 62.5%;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: var(--white-color);
  color: var(--black-color);
}

a, li {
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto 3fr 1fr;
  width: 100%;
  height: auto;
  background-color: black;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border-radius: 10px;
  border-right: 2px solid black;
}

/* HEADER */

.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: 1 / 1 / 1 / 4;
  width: 100%;
  height: 13%;
  padding: 0 1rem;
  background-color: var(--black-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--white-color);
  z-index: 1;
}

.header--logo {
  font-size: 3.5rem;
  color: var(--white-color);
  cursor: pointer;
}

.burger {
  display: none;
}

.header--menu {
  display: flex;
  justify-content: center;
  width: 300px;
}

.header--menu li a {
  display: flex;
  padding: 20px;
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-color);
  white-space: nowrap;
}

.header--menu li a::before {
  content: "<";
  transition: .2s color ease-in-out;
}

.header--menu li a::after {
  content: " />";
  transition: .2s color ease-in-out;
}

.header--menu li a:hover::before {
  color: var(--primary-color);
}

.header--menu li a:hover::after {
  color: var(--primary-color);
}

/* MAIN */

.main {
  grid-area: 2 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  width: 80%;
  height: 100%;
  padding: 10px;
  margin: 15rem 0;
  border-radius: 5px;
  overflow: hidden;
  letter-spacing: 2px;
}

.main::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(#2f52ff, #ffa500, #00ff66, #00beef, #ff00ff, #ff0099, #6e0dd0);
  animation: spin 2.5s infinite linear;
  /* z-index: 3; */
}

.main::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  background-color: var(--black-color);
  z-index: -2px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.main--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 1;
  padding: 30px;
}

.main--info h2 {
  font-size: 3.8rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.main--info p {
  font-size: 1.8rem;
  font-weight: 300;
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  color: var(--white-color);
  letter-spacing: .5px;
}

.main--img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
  z-index: 1;
}

.main--img img {
  width: 90%;
  object-fit: contain;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  grid-area: 3 / 1 / 3 / 4;
  padding: 3rem 0;
  background-color: var(--black-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 1px solid var(--white-color);
  margin-top: 15rem;
}

.foooter--networks ul li {
  margin: 1.5rem;
}

.foooter--networks ul li i {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: var(--primary-color);
}

.foooter--networks ul li a {
  font-size: 2rem;
  color: var(--white-color);
}

.footer--contact p {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--white-color);
  letter-spacing: 1px;
}

@media screen and (max-width: 951px) {
  .header {
    justify-content: start;
  }

  .header--logo {
    padding-left: 13%;
  }
  
  nav {
    position: absolute;
    top: 200px;
    right: 20%;
    width: 250px;
    z-index: 2;
  }
  .navigation {
    position: fixed;
    top: 0;
    right: -500px;
    width: 350px;
    height: 100%;
    border-left: 2px solid var(--white-color);
    background-color: #000000ed;
    transition: .5s;
    z-index: 1;
  }

  .navigation ul li {
    color: white;
    margin-top: 5rem;
  }
  
  .header--menu {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
    width: auto;
  }

  .header--menu li a {
    padding: 0;
  }

  .burger, .bar {
    position: fixed;
  }

  .burger {
    display: block;
    top: 7%;
    left: 86%;
    width: 33px;
    height: 33px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
    cursor: pointer;
  }

  .bar {
    top: 3px;
    background: var(--white-color);
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
  }

  #bar2 {
    top: 11px;
  }

  #bar3 {
    top: 19px;
  }

  .navigation.active {
    right: 0;
  }
  
  .navigation.active .bar {
    background-color: var(--primary-color);
  }

  .burger.open #bar1 {
    transform: rotate(45deg) translate(6px, 5px);
  }

  .burger.open #bar2 {
    background-color: transparent;
  }

  .burger.open #bar3 {
    transform: rotate(-45deg) translate(6px, -5px);
  }

  .main {
    grid-template-columns: 1fr;
    top: calc(100% - 28%);
    height: auto;
  }

  .main--info {
    width: 100%;
  }

  .main--img {
    width: 100%;
  }
}

@media screen and (max-width: 731px) {
  .main::before {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  html {
    font-size: 50.5%;
  }
}